<% if user_signed_in? %>
  <h2><%= "Warehouse #{@warehouse.id}" %></h2>
  <% @boxes.each do |box| %>
    <%= link_to "Box #{box.id}: #{box.description}", warehouse_box_path(@warehouse,box) %>
  <% end %>
  
  <%= semantic_form_for @box, :url => warehouse_boxes_path(@warehouse) do |f| %>
    <%= f.inputs do %>
      <%= f.input :description %>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button %>
    <% end %>
  <% end %>
<% end %>