<% if user_signed_in? %>
  <ul class="items-list">
    <% @items.each do |item| %>
      <li><%= link_to "Item #{item.id}: #{item.name}", warehouse_box_item_path(@warehouse, @box, item), :method => :get %></li>
    <% end %>
  </ul>
  
  <%= semantic_form_for @item, :url =>  warehouse_box_items_path(@warehouse,@box) do |f| %>
    <%= f.inputs do %>
	  <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :quantity %>
      <%= f.input :category %>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button %>
    <% end %>
  <% end %>

  <% content_for :sidebar do %>
    <%= link_to "Boxes", warehouse_path(@warehouse) %>
    <%= link_to "Category", new_category_path %>
  <% end %>
<% end %>