<!DOCTYPE html>
<html>
  <head>
    <title><%= "Boxify" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <div class="banner">
	  <div class="logo">
	    <%= image_tag "Boxify.jpg" %>
	    <span class="product-name">Boxify</span>
	  </div>


	  <div class="user-management">
	    <% if user_signed_in? %>
	      <div class="user-name"><%= current_user.email %></div>
	      <div class="logout"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></div>
	    <% else %>	
	      <div class="sign-in"><%= link_to "Sign in", new_user_session_path %></div>
	      <div class="sign-up"><%= link_to "Sign up", new_user_registration_path %></div>
	    <% end %>
	  </div>
	
	  <h1 class="title">This is the front page for boxify!</h1>
	  <div class="inner-container">
	    <%= yield %>
	  </div>
	
	</div>

	
    </div>
  </body>
</html>
